---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import { render } from "astro/dist/runtime/server";

const { blok } = Astro.props;
const renderedContent = renderRichText(blok.text);
---

<section id="contact-section" {...storyblokEditable(blok)}>
    <div class="heading">{blok.heading}</div>
    <div class="stripe"></div>
    <div class="text" set:html={renderedContent}/>
</section>

<style>
    #contact-section {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        min-height: 300px;
        padding-block: 60px;
        padding-inline: clamp(1.25rem, 8vw, 10%);
        gap: 30px;
    }

    .stripe {
        background-color: #38322B;
        height: 1px;
        width: 60%;
        justify-self: center;
        align-self: center;
    }

    .heading {
        font-family: 'PT Sans', sans-serif;
        font-weight: 800;
        font-size: clamp(1.4rem, 4vw, 1.8rem);
        align-self: center;
        justify-self: center;
        color: #38322B;
        text-align: center;
    }

    .text {
        font-family: 'PT Sans', sans-serif;
        font-weight: 200;
        font-size: 1rem;
        align-self: center;
        justify-self: center;
        text-align: center;
    }

    .text :global(*) {
        color: #38322B !important;
        margin-bottom: 0.5rem;
    }

    @media (min-width: 768px) {
        #contact-section {
            grid-template-columns: 1fr 1px 1fr;
            gap: 0;
            text-align: left;
        }

        .stripe {
            height: 50%;
            width: 1px; 
        }

        .heading, .text {
            text-align: inherit;
        }
    }
</style>