*{
    --primary-color: #38322B;
    --secondary-color: #A38D75;

    --offwhite-color-1: #FDFBF7;
    --offwhite-color-2: #F2EEE9;

    --default-dark-color: black;
    --default-light-color: white;

}
