---
import { storyblokEditable } from "@storyblok/astro";
import Tag from "../ui/Tag.astro";
import Heading from "../ui/Heading.astro";
import DetailedTopicWidget from "../ui/DetailedTopicWidget.astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;
---
<section id="detailed-topic-section" {...storyblokEditable(blok)}>
    <Tag variant="secondary">{blok.category_name}</Tag>
    <Heading variant="secondary">{blok.heading}</Heading>
    
    <div class="slider-container">
      {blok.detailed_topic_widget?.map((nestedBlok) => (
        <div class="slider-item">
          <StoryblokComponent blok={nestedBlok} />
        </div>
      ))}
    </div>
</section>
<style>
    #detailed-topic-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding-top: 60px;
        padding-bottom: 60px;
        color: #38322B;
        row-gap: 30px;

        padding-left: clamp(1.25rem, 8vw, 10%);
    }

    .slider-container {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        scroll-snap-type: x mandatory; 
        gap: 24px;
        
        padding-inline: clamp(1.25rem, 8vw, 10%);
        padding-bottom: 25px;
        
        /* Hide default scrollbar for a cleaner look on Firefox/IE */
        scrollbar-width: thin;
        scrollbar-color: #38322B #D9D9D9;
    }

    /* Chrome, Edge, and Safari custom scrollbar */
    .slider-container::-webkit-scrollbar {
        height: 4px;
    }

    .slider-container::-webkit-scrollbar-track {
        background: #D9D9D9;
        border-radius: 100px;
        margin-inline: clamp(1.25rem, 8vw, 10%);
    }

    .slider-container::-webkit-scrollbar-thumb {
        background-color: #38322B;
        border-radius: 100px;

        border: 2px solid transparent;
    }

    .slider-item {
        flex: 0 0 280px;
        scroll-snap-align: start;
        display: flex;
        transition: transform 0.3s ease;
    }

    @media (min-width: 768px) {
        .slider-item {
            flex: 0 0 340px;
        }
    }

    @media (min-width: 1200px) {
        .slider-item {
            flex: 0 0 420px; 
        }
    }

    /* Subtle hover effect for desktop */
    /* @media (hover: hover) {
        .slider-item:hover {
            transform: translateY(-5px);
        }
    } */
</style>
