---
import { storyblokEditable } from "@storyblok/astro";
import { isBlokValid } from "../../utils/storyblok"
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;

if (!isBlokValid(blok, "QnA Section")) return null;
---
<section id="qna-section" {...storyblokEditable(blok)}>
    <div class="heading">{blok.heading}</div>
     <div class="subheading">{blok.subheading}</div>
    
    <div class="dropdown-container">
      {blok.qna_widget?.map((nestedBlok) => (
        <div class="dropdown-item">
          <StoryblokComponent blok={nestedBlok} />
        </div>
      ))}
    </div>
</section>
<style>
    #qna-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding-top: 60px;
        padding-bottom: 60px;
        color: #38322B;
        padding-inline: clamp(1.25rem, 8vw, 10%);
    }

    .dropdown-container {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        /* border-bottom: solid 2px #38322B; */
    }

    .heading{
        font-family: "Alexandria", sans-serif;
        font-weight: 900;
        font-size: clamp(1.8rem, 3.2vw, 2.4rem);
        padding-bottom: 5px;
    }

    .subheading{
        padding-bottom: 10px;
        font-family: "Alexandria", sans-serif;
        font-weight: 900;
        font-size: clamp(1.2rem, 2.6vw, 1.8rem);
    }

    
</style>
