---
import Button from "./ui/Button.astro";
import { storyblokEditable } from '@storyblok/astro';

const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)} id="text-area">
    <div class="text">
        {blok.text_before}
        <span class="wavy-wrapper">
            {blok.highlighted_word}
            <svg 
                viewBox="0 0 218 15" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg" 
                class="wavy-underline" 
                preserveAspectRatio="none"
            >
                <path d="M0.460938 7.5C0.460938 7.5 60.1227 18.75 111.337 7.5C162.551 -3.75 217.461 7.5 217.461 7.5" stroke="#A38D75" stroke-width="5" stroke-linecap="round"/>
            </svg>
        </span>
        {blok.text_after}
    </div>
    <div class="button">
        <Button href="" variant="secondary">{blok.button_text}</Button>
    </div>
</section>

<style>
    #text-area {
        display: grid;
        grid-template-rows: 1fr auto;
        gap: 50px;
        height: 100%;
        width: 100%;
        padding: 10% 20%;
        text-align: center;
    }

    .text {
        font-size: xx-large;
        font-family: "PT Sans", sans-serif;
        font-weight: 800;
        line-height: 1.6; /* Increased slightly to ensure the wave has space */
        color: #38322B;
    }

    .wavy-wrapper {
        position: relative;
        display: inline-block;
    }

    .wavy-underline {
        position: absolute;
        left: 0;
        bottom: -5px; /* Moves it below the text baseline */
        width: 100%;
        height: 12px;
        pointer-events: none;
    }

    .button {
        padding: 0 20%;
    }

    /* Media queries */

	@media screen and (max-width: 640px) {
		
	} 
</style>
