---
import Navbar_static from "../components/all/Navbar_static.astro"
import BaseHead from "../components/BaseHead.astro";
import "../styles/font.css";
import "../styles/color.css"

const { blok } = Astro.props;
---
<!doctype html>
<html lang="de">
    <head>
        <BaseHead 
            title={blok?.seo_title || "WG Algersdorfer Straße"} 
            description={blok?.seo_description || "Modernes Wohnen in Graz."}
        />
        
        <meta name="generator" content={Astro.generator} />
        
        <link rel="icon" type="image/png" href="/favicon-wg.png" />
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
	*{
		box-sizing: border-box;
	}

	html,
	body {
		padding: 0;
		margin: 0;
		width: 100%;
		min-height: 100vh;
		overflow-x: hidden;

		display: flex;
		flex-direction: column;
		font-family: 'PT Sans';
		background-color: white;
		/* scroll-padding-top: 100px; */
		
		scroll-behavior: smooth;
	}

    /* section, [id] {
        scroll-padding-top: 100px;
    }

    @media (max-width: 767px) {
        section, [id] {
            scroll-padding-top: 70px;
        }
    } */
	section, [id] {
    	scroll-margin-top: 100px;
	}

	@media (max-width: 767px) {
		/* 15px rule context */
		section, [id] {
			scroll-margin-top: 70px;
		}
	}
</style>
