---
import Navbar_static from "../components/all/Navbar_static.astro"
import "../styles/color.css"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<!-- <Navbar_static /> -->
			<slot />
	</body>
</html>

<style is:global>
	*{
		box-sizing: border-box;
	}

	html,
	body {
		padding: 0;
		margin: 0;
		width: 100%;
		min-height: 100vh;
		overflow-x: hidden;

		display: flex;
		flex-direction: column;
		font-family: 'PT Sans';
		background-color: white;

		/* Stop 80px early for every anchor link on the site */
		scroll-padding-top: 100px;
		
		/* Make the jump feel smooth instead of a sudden snap */
		scroll-behavior: smooth;
	}
</style>
