---
import Navbar from "../all/Navbar.astro";

const { variant = 'primary', ...rest } = Astro.props;
---

<div class=`heading-wrapper ${variant}` {...rest}>
    <slot/>
</div>

<style>
     .heading-wrapper{
        font-family: "PT Sans Caption", sans-serif;
        line-height: 1.1;
    }
    .primary{font-size: clamp(1.6rem, 3vw, 2.2rem);}
    .secondary{font-size: clamp(1.2rem, 2.6vw, 1.8rem);}
</style>