---
    import { storyblokEditable } from "@storyblok/astro"

    const { blok } = Astro.props
---

<div id="person-widget" {...storyblokEditable(blok)}>
    <div class="img">
        <img src={blok.img.filename} alt={blok.img.alt}/>
    </div>
    <div class="name">
        {blok.name}
    </div>
    <div class="title">
        {blok.title}
    </div>
</div>

<style>
    #person-widget{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        align-items: center;
        justify-content: center;

        color: #38322B;

        font-family: "PT Sans", sans-serif;
        font-size: 1.1rem;
        line-height: 1.6;
    }

    .name{
        font-weight: 800;
        font-size: 1.2rem;
    }

    .title{
        font-style: italic;
    }

    .img{
        height: 300px;
        width: 100%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        position: relative;
        border-radius: 30px;
        box-shadow: 0px 4px 16px 2px #adadad;
        margin-bottom: 5px;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
</style>