---
import { storyblokEditable } from "@storyblok/astro";
import { isBlokValid, renderSafeRichText } from "../../utils/storyblok"

const { blok } = Astro.props;

if (!isBlokValid(blok, "QnA Widget")) return null;

const renderedContent = renderSafeRichText(blok.text, "Questions and Answers");
---

<div class="accordion-item" {...storyblokEditable(blok)}>
  <details>
    <summary>
      <span class="heading">{blok.heading}</span>
      <span class="icon"></span>
    </summary>
    <div class="content" set:html={renderedContent} />
  </details>
</div>

<style>
  .accordion-item {
    width: 100%;
    /* border-top: 2px solid #38322B; */
    border-bottom: 2px solid #38322B;
    background-color: transparent;
  }

  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    cursor: pointer;
    list-style: none;
    user-select: none;
    gap: 20px;
  }


  summary::-webkit-details-marker {
    display: none;
  }

  .heading {
    font-family: "PT Sans", sans-serif;
    font-weight: 800;
    font-size: 1.4rem;
    /* color: #38322B; */
    color: black;
  }


  .icon {
    position: relative;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  .icon::before,
  .icon::after {
    content: "";
    position: absolute;
    background-color: #38322B;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
  }


  .icon::before {
    width: 100%;
    height: 2px;
  }

 
  .icon::after {
    width: 2px;
    height: 100%;
  }

 
  details[open] .icon::after {
    transform: translate(-50%, -50%) rotate(90deg);
    opacity: 0;
  }

  .content {
    padding-bottom: 30px;
    font-family: "PT Sans", sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #38322B;
  }


  .content :global(p) {
    /* margin-bottom: 1rem; */
    margin: 0px;
  }

  .content :global(a) {
    color: #A38D75;
    text-decoration: underline;
  }
</style>