---
---
<div id="social-wrapper">
    <div class="svg"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 750 850"><path fill="#38322B" d="M659 8q34 0 59 24t24 58v577q0 35-24 59t-59 24H494V461h83l23-102H494v-69q0-22 13-41t44-19h49V123h-74q-79 0-117 42t-38 110v84h-83v102h83v289H82q-34 0-58-24T0 667V90q0-34 24-58T82 8h577z"/></svg></div>
    <div class="svg"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="#38322B"><g fill="none" stroke="#38322B" stroke-width="1.5"><path stroke-linecap="round" stroke-linejoin="round" d="M12 16a4 4 0 1 0 0-8a4 4 0 0 0 0 8Z"/><path d="M3 16V8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5Z"/><path stroke-linecap="round" stroke-linejoin="round" d="m17.5 6.51l.01-.011"/></g></svg></div>
    <div class="tag">@wg-algersdorf</div>
</div>
<style>
    #social-wrapper{
        display: flex;
        flex-direction: row;
        width: fit-content;

        font-family: "PT Sans", sans-serif;
        font-size: medium;
        font-style: italic;
        padding: 5px 10px 2px 10px; 
        border-radius: 50px; 

        color: #38322B;
        background-color: #FDFBF7;

        align-items: center;
        justify-content: center;
    }

    .svg{
        display: flex;
        align-items: center; 
        justify-content: center;
    }
</style>