---
const { variant = 'primary' } = Astro.props;
---
<div id="tag">
    <div class=`tag-wrapper ${variant}`>
        <slot/>
    </div>
</div>


<style>
    #tag{
        display: flex;
        width: auto;
    }
     .tag-wrapper{
        font-family: "PT Sans", sans-serif;
        font-style: italic;
        font-size: large;
        padding: 5px 10px 5px 10px;
    }
    .primary{background-color: white; color: #38322B;}
    .secondary{background-color: #38322B; color: white;}
</style>